<%- include('partials/_header') %>

<div class="container mt-5">
  <div class="filter">
    <a href="/student_login"><i class="fas fa-angle-double-left"></i>Back</a>
 </div>
  <h3 class="text-center mb-4">My Result</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-horizontal">
      <tbody>
        <tr>
          <th scope="row">Roll No.</th>
          <td><%= student.roll %></td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td><%= student.name %></td>
        </tr>
        <tr>
          <th scope="row">Date of Birth</th>
          <td><%= formatDate(student.dob) %></td>
        </tr>
        <tr>
          <th scope="row">Score</th>
          <td><%= student.score %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/_footer') %>

<% function formatDate(dateString) {
  const date = new Date(dateString);
  const day = String(date.getDate()).padStart(2, '0');
  const month = String(date.getMonth() + 1).padStart(2, '0');
  const year = date.getFullYear();
  return `${day}-${month}-${year}`;
} %>

