 <% for (var i = 0; i < student.length; i++) { %>
    <tr>
      <td><%= student[i].roll %></td>
      <td><%= student[i].name %></td>
      <td><%= formatDate(student[i].dob) %></td>
      <td><%= student[i].score %></td>
      <td>
        <a href="/update-result?roll=<%= student[i].roll %>" class="btn border-shadow update">
          <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="/delete-student/<%= student[i]._id %>" class="btn border-shadow delete">
          <span class="text-gradient"><i class="fa-sharp fa-solid fa-trash"></i></span>
        </a>
      </td>
    </tr>
  <% } %>
  
  <% function formatDate(dateString) {
    const date = new Date(dateString);
    const day = String(date.getDate()).padStart(2, '0');
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const year = date.getFullYear();
    return `${day}-${month}-${year}`;
  } %>
  